body {
 margin: 0
}

input {
  font-size: 16px;
  border: solid 1px #A4A5A6;
  padding-left: 10px;
  height: 24px;
  vertical-align: middle; 
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.flat-button {
  position: relative;
  vertical-align: top;
  width: 180px;
  height: 30px;
  font-size: 16px;
  color: #2b2b2b;
  text-align: center;
  background: #fff;
  padding: 0;
  margin: 0;
  border: solid 1px #A4A5A6;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
  outline: 0;
  cursor: pointer;
}

.flat-button:hover {
  background: #A4A5A6;
  color: #fff;
}

.headline {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #2b2b2b;
  position: relative;
  left: -1px
}

.top-wrap {
  padding: 14px 15px 5px 15px
}

.inside-layout {
  text-align: center
}

.page-action {
  float: none
}

.tabber-wrap {
  display: inline-block;
  position: relative;
  top: -9px
}

.tab-delimiter {
  display: inline-block;
  width: 100px;
  height: 19px;
  position: relative;
  top: 6px;
  right: -1px
}

.tab-contents {
  padding: 9px 15px 15px 15px
}

.settings-block {
  padding: 10px 15px 15px 15px;
  border: 1px solid #D9D9D9;
  border-bottom: none;
  background: #FFF
}

.settings-block:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px
}

.settings-block:last-child {
  border-bottom: 1px solid #D9D9D9;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 1px 0 #FFF
}

.settings-block .description {
  font-size: 14px;
  margin-top: 7px;
  color: #797979
}

.label {
  -webkit-user-select: none
}

.settings-tab {
  display: inline-block;
  font-size: 14px;
  padding: 8px 46px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  color: #A4A5A6;
  font-weight: 700;
  text-shadow: 0 1px 0 white;
}

.settings-tab:first-child {
  position: relative;
  right: -1px;
}

.settings-tab[active='true'] {
  color: #2b2b2b;
}

#main-wrap {
  width: 600px;
  font-family: Tahoma;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(43, 43, 43, 0.125);
  margin: 15px auto 0 auto
}

#Settings_Tabs_Interface, #Settings_Tabs_General {
  cursor: pointer;
}

