body {
  width: 500px;
  height: 222px;
  border: 0;
  overflow: hidden;
  margin: 0 5px 0 5px;
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: defualt;
}
.webkit body {
  margin: 0px 0px 0px 0px;
}
.mac.webkit body {
  margin: 0 5px 0 5px;
}
table {
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  color: #2b2b2b;
  empty-cells: show;
  border-collapse: separate;
  border-spacing: 0 0;
  border: 0;
}
tr td {
  border: 0;
}
select {
  width: 1px;
  height: 22px;
  font-family: arial, verdana, sans-serif;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border-width: 0;
  text-align: middle;
  text-indent: 18px;
  text-overflow: "";
  padding: 0 18px 0 0;
  overflow: hidden;
  background: url('quality_null.png') no-repeat center center;
}
select::-moz-focus-inner {
  border: 0;
}
select:focus {
  outline: none;
}
.mac.webkit select {
  padding-left: 0px;
}
#controls-div{
  margin: 5px 0 0 0;
}
#playlist-div, #search-div{
  margin: 0;
}
#search-div{
  border: solid 1px #cdcdcd;
}
#controls-table {
  height: 37px;
  border-spacing: 2px 0px;
  margin: 0 -2px 0 -2px;
  cursor: pointer;
}
#controls-table tr td {
  border: 0;
  -webkit-transition: 300ms opacity;
  -moz-transition: 300ms opacity;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
  opacity: 0.7;        
}
#controls-table tr td:hover {
  -webkit-transition: 0ms opacity;
  -moz-transition: 0ms opacity;
  opacity: 1.0;
}
#previous-td {
  width: 55px;
  background: url(previous.png) no-repeat center center;
  background-size: 26px 26px;
}
#play-td {
  width: 133px;
  background: url(play.png) no-repeat center center;
  background-size: 26px 26px;
}
#play-td[name='play'] {
  background: url(play.png) no-repeat center center;
  background-size: 26px 26px;
}
#play-td[name='pause'] {
  background: url(pause.png) no-repeat center center;
  background-size: 26px 26px;
}
#next-td {
  width: 55px;
  border-radius: 0px;
  background: url(next.png) no-repeat center center;
  background-size: 26px 26px;
}
#stop-td {
  width: 55px;
  background: url(stop.png) no-repeat center center;
  background-size: 26px 26px;
}
#volume-td {
  width: 75px;
  background: url(volume.png) no-repeat center center;
}
#volume-td div {
  width: 4px;
  border-radius: 3px;
  margin: 0 0 -6px -3px;
  display: inline-block;
  border: solid 1px #DCDCDC;
  -webkit-transition: 300ms opacity;
  -moz-transition: 300ms opacity;
  background-color: black;
  opacity: 0.0;
}
#volume-td div:nth-child(1) {
  margin-left: 4px;
}
#volume-td:hover div{
  -webkit-transition: 0ms opacity;
  -moz-transition: 0ms opacity;
  opacity: 0.3;
}
#volume-td:hover div[name='selected'] {
  opacity: 1.0;
}
#volume-td div[value='0'] {height: 4px;}
#volume-td div[value='1'] {height: 6px;}
#volume-td div[value='2'] {height: 8px;}
#volume-td div[value='3'] {height: 10px;}
#volume-td div[value='4'] {height: 12px;}
#volume-td div[value='5'] {height: 14px;}
#volume-td div[value='6'] {height: 16px;}
#volume-td div[value='7'] {height: 18px;}
#volume-td div[value='8'] {height: 20px;}
#volume-td div[value='9'] {height: 22px;}
#volume-td div[value='10'] {height: 24px;}

#loop-all-td,
#loop-all-td[loopIndex='0']{
  width: 55px;
  background: url(loop-all.png) no-repeat center center;
}
#loop-all-td[loopIndex='1']{
  background: url(loop-all-1.png) no-repeat center center;
}
#loop-all-td[loopIndex='2']{
  background: url(loop-all-2.png) no-repeat center center;
}
#loop-all-td[loopIndex='3']{
  background: url(loop-all-3.png) no-repeat center center;
}
#loop-all-td[loopIndex='4']{
  background: url(loop-all-4.png) no-repeat center center;
}
#loop-all-td[loopIndex='5']{
  background: url(loop-all-5.png) no-repeat center center;
}
#loop-all-td[loopIndex='6']{
  background: url(loop-all-infinity.png) no-repeat center center;
}
#options-td {
  width: 45px;
  background: url(options.png) no-repeat center center;
  background-size: 26px 26px;
}
#items-scroll-table tr td{
  border: 0;
}
#items-table{
  border-spacing: 0px 1px;
  margin: 5px 0 5px 0;
}
#items-table tr td{
  border: 0;
  -webkit-transition: 300ms background-color;
  -moz-transition: 300ms background-color;
  cursor: pointer;
}
#items-table td{
  height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#items-table tr td:hover{
  -webkit-transition: 0ms background-color;
  -moz-transition: 0ms background-color;
}
#items-table tr td[name='drag']{
  width: 22px;
  min-width: 22px;
  max-width: 22px;
  background: url(drag.png) no-repeat center center;
}
#items-table tr td[name='play-icon']{
  width: 22px;
  min-width: 22px;
  max-width: 22px;
}
#items-table tr td[name='track']{
  width: 341px;
  min-width: 341px;
  max-width: 341px;
  padding: 0 3px 0 3px;
  background: url(td-background.png) no-repeat -347px center;
}
.gecko #items-table tr td[name='track']{
  width: 344px;
  min-width: 344px;
  max-width: 344px;
}
#items-table tr td[name='time']{
  min-width: 80px;
  max-width: 80px;
  padding: 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#items-table tr td[name='time']:hover{
  color: white;
}
#items-table tr td[name='close-track'] {
  width: 0;
  padding: 0;
  border:0;
}
#items-table tr td[name='close-track-expand'] {
  width: 20px;
  background: url(close-track.png) no-repeat center center;
}
#items-table tr td[name='close-track-expand']:hover {
  background: rgba(204, 24, 30, 1.0) url(close-track-white.png) no-repeat center center !important;
}
#items-table tr td[name='loop-track-expand'] {
  width: 28px;
}
#items-table tr td[name='track-expand'] {
  width: 262px;
  min-width: 262px;
  max-width: 262px;
  padding: 0 3px 0 3px;
  background: url(td-background-expand.png) no-repeat -262px center;
}
#items-table tr[state='play'] td {
}
#items-table tr[state='play'] {
  font-weight: bold;
}
#items-table tr[state='play'] td[name='track'] {
  color: #FFF7D6;
}
#items-table tr[state='play'] td[name='track-expand'] {
  color: #FFF7D6;
}
#items-table tr[state='stop'] td[name='track'] {
  background: url(td-background.png) no-repeat -347px center;
}
#items-table tr[state='end'] td[name='track'] {
  background: url(td-background.png) no-repeat -347px center;
}
#items-table tr td[name='play-icon'] {
  background: url(play-track.png) no-repeat center center;
}
#items-table tr[state='play'] td[name='play-icon'] {
  background: url(pause-track.png) no-repeat center center;
}
#items-table tr[state='pause'] td[name='play-icon'] {
  background: url(play-track.png) no-repeat center center;
}
#items-table tr[state='loading'] td[name='time'] {
  background: url(loading.gif) no-repeat center center;
}
#items-table tr td[name='loop-track']{
  width: 0;
  padding: 0;
  border:0;
}
#items-table tr td[name='loop-track-expand'],
#items-table tr td[name='loop-track-expand'][loopIndex='undefined'],
#items-table tr td[name='loop-track-expand'][loopIndex='0'] {
  background: url(loop-track.png) no-repeat center center;
}
#items-table tr td[name='loop-track-expand'][loopIndex='1'] {
  background: url(loop-track-1.png) no-repeat center center;
}
#items-table tr td[name='loop-track-expand'][loopIndex='2'] {
  background: url(loop-track-2.png) no-repeat center center;
}
#items-table tr td[name='loop-track-expand'][loopIndex='3'] {
  background: url(loop-track-3.png) no-repeat center center;
}
#items-table tr td[name='loop-track-expand'][loopIndex='4'] {
  background: url(loop-track-4.png) no-repeat center center;
}
#items-table tr td[name='loop-track-expand'][loopIndex='5'] {
  background: url(loop-track-5.png) no-repeat center center;
}
#items-table tr td[name='loop-track-expand'][loopIndex='6'] {
  background: url(loop-track-6.png) no-repeat center center;
}
#items-table tr td[name='quality-td-expand'] {
}
#items-table tr td select[name='quality-select'][state='full']  {
  background: url(quality_full.png) no-repeat center center;
}
#items-table tr td[name='save-track']{
  width: 0;
  padding: 0;
  border:0;
}
#items-table tr td[name='save-track-expand'] {
  width: 28px;
  background: url(save-track.png) no-repeat center center;
}
#items-table tr td[name='save-track-expand'][status='added'] {
  width: 28px;
  background: url(save-track-added.png) no-repeat center center;
}
#scroll-table {
  border-spacing: 0px 0px;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  width: 100%;
}
#scroll-table tr td {
  border: 0;
  margin: 0;
  padding: 0;
}
#scroll-table td {
  height: 14px;
  width: 450px;
  cursor: pointer;
}
#scroll-up-td{
  background: url(up.png) no-repeat center center;
  -webkit-transition: 300ms opacity;
  -moz-transition: 300ms opacity;
  opacity: 0.3;
}
#scroll-down-td{
  background: url(down.png) no-repeat center center;
  -webkit-transition: 300ms opacity;
  -moz-transition: 300ms opacity;
  opacity: 0.3;
}
#scroll-up-td:hover{
  -webkit-transition: 0ms opacity;
  -moz-transition: 0ms opacity;
  opacity: 1.0;
}
#scroll-down-td:hover{
  -webkit-transition: 0ms opacity;
  -moz-transition: 0ms opacity;
  opacity: 1.0;
}
#search-table {
  height: 30px;
  width: 100%;
}
#input {
  border: 0;
  border-width: 0;
  width: 396px;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px 0 10px;
}
#input:focus{
  outline: 0;
}
#search-td {
  width: 32px;
  background: url('search.png') no-repeat center center;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
  -webkit-transition: 200ms opacity;
  -moz-transition: 200ms opacity;
  opacity: 0.7;
}
#search-td:hover {
  -webkit-transition: 0ms opacity;
  -moz-transition: 0ms opacity;
  opacity: 1.0;
}